In [1]:
import json
import pandas as pd

In [7]:
def build_csv(fsource, fdest):
    names_list = []
    with open(fsource, 'r', encoding='utf-8') as file:
        data = file.readline()
        while data:
            json_row = json.loads(data)
            json_row.pop('regorg')
            json_row.pop('regfl')
            if 'gender_p' in json_row.keys():
                json_row.pop('gender_p')
            names_list.append(json_row)
            data = file.readline()
    df = pd.DataFrame(names_list)
    df.to_csv(fdest, encoding='utf-8', index=False)

build_csv('names_table.jsonl', 'names.csv')
build_csv('surnames_table.jsonl', 'surnames.csv')
build_csv('midnames_table.jsonl', 'midnames.csv')
print('done.')

done.

In [17]:
names = pd.read_csv('names.csv')
surnames = pd.read_csv('surnames.csv')
midnames = pd.read_csv('midnames.csv')

In [11]:
midnames.head()

            text      num      fname lett gender
0   Владимирович  1292409   Владимир    В      m
1  Александрович  1281094  Александр    А      m
2     Николаевич  1119772    Николай    Н      m
3     Викторович   743783     Виктор    В      m
4      Сергеевич   686685     Сергей    С      m

In [90]:
# settings
gender = 'm'
name_letter = 'В'
midname_letter = 'А'
ages = [83,]

In [99]:
def random_names(name_letters, midname_letters, ages):
    result = []
    for nl, ml, age in zip(name_letters, midname_letters, ages):
        name_cond = (names['gender'] == gender) & (names['lett'] == nl.upper())
        midname_cond = (midnames['gender'] == gender) & (midnames['lett'] == ml.upper())    
        name_weights = names.loc[name_cond, 'num'] / names.loc[name_cond, 'num'].sum()
        midname_weights = midnames.loc[midname_cond, 'num'] / midnames.loc[midname_cond, 'num'].sum()
        name = names[name_cond].sample(weights=name_weights)
        midname = midnames[midname_cond].sample(weights=midname_weights)
        result.append({'name': name, 'patronymic': midname, 'birthday': age})
    return result

In [104]:
random_names('ви', 'Ие', [61, 22])

[{'name':        text     num lett gender
  19  Валерий  280628    В      m,
  'patronymic':        text     num fname lett gender
  7  Иванович  630171  Иван    И      m,
  'birthday': 61},
 {'name':     text     num lett gender
  46  Илья  110504    И      m,
  'patronymic':           text     num    fname lett gender
  22  Евгеньевич  276696  Евгений    Е      m,
  'birthday': 22}]

In [116]:
midnames.loc[[True] * midnames.shape[0], 'text']

0        Владимирович
1       Александрович
2          Николаевич
3          Викторович
4           Сергеевич
            ...
7035       Файвелевич
7036       Жигжитович
7037    Гаптолхакович
7038     Нафигуллович
7039    Алескандрович
Name: text, Length: 7040, dtype: object

In [47]:
# вычисление возраста по дате
from dateutil.relativedelta import relativedelta
from datetime import date, timedelta
from random import randrange

relativedelta(date.today(), date.fromisoformat('1951-11-17')).years

70

In [71]:
# рандомизация даты по возрасту

from datetime import date, timedelta
from random import randrange

age = 70

rbound = date(date.today().year - age, date.today().month, date.today().day)
lbound = date(date.today().year - age - 1, date.today().month, date.today().day + 1)
delta = rbound - lbound
lbound + timedelta(days=randrange(delta.days))

datetime.date(1951, 10, 25)